<div>
  <form [formGroup]="form" class="flex">
    <h2>Edit User</h2>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>First Name</mat-label>
      <input type="text" matInput formControlName="firstname" />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Last Name</mat-label>
      <input type="text" matInput formControlName="lastname" />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill" disabled>
      <mat-label>Email</mat-label>
      <input type="text" matInput formControlName="email" />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password" />
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Confirm Password</mat-label>
      <input type="password" matInput formControlName="confirmermdp" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Role</mat-label>
      <mat-select formControlName="isAdmin" [(value)]="form.value.isAdmin">
        <mat-option value="false"> User </mat-option>
        <mat-option value="true"> Admin </mat-option>
      </mat-select>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      (click)="envoyer()"
      [disabled]="isformvalid()"
    >
      Edit
    </button>
  </form>
</div>
